<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597680831996-8kjtfus38maf7auqkiflft4dq7vu99mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597680831996-8kjtfus38maf7auqkiflft4dq7vu99mv</string>
	<key>API_KEY</key>
	<string>AIzaSyAF8HYCG4Iw0i03jLJcaVvGwJlnDo6bx48</string>
	<key>GCM_SENDER_ID</key>
	<string>597680831996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cdio</string>
	<key>PROJECT_ID</key>
	<string>cdio02new</string>
	<key>STORAGE_BUCKET</key>
	<string>cdio02new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597680831996:ios:dc94c24b3095fff895c679</string>
</dict>
</plist>